body {
  background-color: #e6f0ff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
}

mat-form-field {
  background-color: #f0f4fa;
  border-radius: 4px;
}
