<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-containter matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let usuario">{{usuario.nome}}</td>
  </ng-containter>

  <ng-containter matColumnDef="secretaria">
    <th mat-header-cell *matHeaderCellDef>Secretaria</th>
    <td mat-cell *matCellDef="let usuario">{{usuario.secretaria.nome}}</td>
  </ng-containter>

  <ng-containter matColumnDef="cargo">
    <th mat-header-cell *matHeaderCellDef>Cargo</th>
    <td mat-cell *matCellDef="let usuario">{{usuario.cargo}}</td>
  </ng-containter>

  <ng-containter matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef>CPF</th>
    <td mat-cell *matCellDef="let usuario">{{usuario.cpf}}</td>
  </ng-containter>

  <ng-containter matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let usuario">{{usuario.email}}</td>
  </ng-containter>

  <ng-containter matColumnDef="permissao">
    <th mat-header-cell *matHeaderCellDef>Permissão</th>
    <td mat-cell *matCellDef="let usuario">{{usuario.permissao}}</td>
  </ng-containter>

  <ng-containter matColumnDef="senha">
    <th mat-header-cell *matHeaderCellDef>Senha</th>
    <td mat-cell *matCellDef="let usuario">{{usuario.senha}}</td>
  </ng-containter>

  <ng-containter matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let usuario">
      <button mat-mini-fab extended matTooltip="excluir" class="delete-button" (click)="delete(usuario)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab extended matTooltip="atualizar" class="update-button" (click)="update(usuario)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-containter>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
