<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0033A0;">
  <a class="navbar-brand" href="#">CulturaConectaREC</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button class="nav-link btn-link" (click)="navigateTo('menu/secretaria')">Secretarias</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-link" (click)="navigateTo('menu/usuario')">Usuário</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-link" (click)="navigateTo('new/evento')">Cadastrar Eventos</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-link" (click)="navigateTo('list/evento')">Eventos</button>
      </li>
    </ul>
  </div>
</nav>
